<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>編輯使用者</title>
    <link
      rel="stylesheet"
      href="{{ url_for('crud.static',filename='style.css') }}"
    />
  </head>
  <body>
    <h2>編輯使用者</h2>

    <form
      action="{{ url_for('crud.edit_user',user_id=user.id) }} "
      method="POST"
      novalidate="novalidate"
    >
      {{form.csrf_token}}

      <p>
        {{form.username.label}}{{form.username(placeholder="使用者名稱",value=user.username)}}
      </p>

      {%for error in form.username.errors %}
      <span style="color: red">{{error}}</span>
      {%endfor %}

      <p>
        {{form.email.label}}{{form.email(placeholder="郵件地址",value=user.email)}}
      </p>

      {%for error in form.email.errors %}
      <span style="color: red">{{error}}</span>
      {%endfor %}

      <p>
        {{form.password.label}}{{form.password(placeholder="密碼",value=user.password)}}
      </p>

      {%for error in form.password.errors %}
      <span style="color: red">{{error}}</span>
      {%endfor %}

      <p><input type="submit" value="修改" /></p>
    </form>

    <form
      action="{{url_for('crud.delete_user',user_id=user.id)}}"
      method="POST"
    >
      {{form.csrf_token}}
      <input type="submit" value="刪除" />
    </form>
  </body>
</html>
