<!--以繼承base.html實作-->
{% extends 'crud/base.html' %} {%block title %}使用者列表{% endblock %} {%block
content %}

<h2>使用者列表</h2>

<h3 style=" color: rgb(67, 146, 55)">點標題能修改喔</h3>


<div class="contenter">
  <a href="{{url_for('crud.create_user')}}">新增使用者</a>
<table>
  <tr>
    <th>使用者id</th>
    <th>使用者名稱</th>
    <th>郵件地址</th>
  </tr>
  {%for user in users %}
  <tr>
    <!--
    <td>{{user.id}}</td>
    -->
    <td>
      <a href="{{url_for('crud.edit_user',user_id=user.id)}}">{{user.id}}</a>
    </td>
    <td>{{user.username}}</td>
    <td>{{user.email}}</td>
  </tr>
  {%endfor %}
</table>
</div>
{%endblock %}

<!--
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="{{url_for('crud.static',filename='style.css')}}"
    />
    <title>使用者列表</title>
  </head>

  <body>
    <h2>使用者列表</h2>

    <a href="{{url_for('crud.create_user')}}">新增使用者</a>

    <table>
      <tr>
        <th>使用者id</th>
        <th>使用者名稱</th>
        <th>郵件地址</th>
      </tr>
      {%for user in users %}
      <tr>
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
      </tr>
      {%endfor %}
    </table>
  </body>
</html>
-->
